*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;
}
header {
    height: 60px;
}

header > button{
    background: rgb(56, 56, 56);
    border: none;
}

header > button > img {
    width: 200px;
    height: auto;
    margin: 18px 0 11px 40px;
}