.mainBox{
    width: 100%;
    height: 100%;
    display: grid;
    box-sizing: border-box;
}

.mainMenu{
    width: 100%;
    height: calc(100% - 35px);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: rgb(56, 56, 56);
    position: relative;
}

.viewerMenu{
    display: flex;
    padding: 10px 0 10px 20px;
    margin-left: 12px;
    margin-bottom: 12px;
    background-color: rgb(36, 36, 36);
    border-radius: 10px;
    width: calc(100% - 40px);
}

.viewerMenu button{
    list-style: none;
    padding: 10px 15px;
    margin-right: 10px;
    box-shadow: none;
    -webkit-box-align: center;
    align-items: center;
    border: 0px;
    background: transparent;
    position: relative;
    display: flex;
    flex-direction: column;
}

.viewerMenu button > span {
    margin-top: 5px;
    display: block;
    color: white;
    font-size: 7px;
    white-space: nowrap;
}

.viewerMenu .default{
    background: rgb(0, 0, 0);
    color: black;
    border-radius: 10%;
}

.mainMenu .contentBox {
    display: flex;
    margin-left: 12px;
    position: relative;
    width: calc(100% - 40px);
    height: calc(100%);
}

.mainMenu button.playClip {
    position: relative;
}

.mainMenu button.toolModalParent {
    position: relative;
}

.mainMenu button > div > img {
    margin-right: 3px;
    vertical-align: middle;
}

.mainMenu .disable {
    filter: contrast(15%);
}

.mainMenu button.toolModalParent .toolModalChildren.displayNone {
    display: none;
}

.mainMenu button.toolModalParent .toolModalChildren {
    border: 1px solid white;
    border-radius: 10px;
    position: absolute;
    z-index: 1000000;
    top: 100%;
    left: 0px;
    background: rgb(36, 36, 36);
    width: 200%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 5px;
}

.mainMenu button.toolModalParent .toolModalChildren > div {
    width: 50%;
}

.mainMenu button.toolModalParent .toolModalChildren > div > div {
    padding: 5px;
}

.mainMenu button.toolModalParent .toolModalChildren > div > div > span {
    margin-top: 3px;
    display: block;
    font-size: 5px;
    color: white;
}

.mainMenu .contentBox .wadoBox{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-color: black;
    position: relative;
}

.parentDiv{
    background-color: black;
    width: 100%;
    height: 100%;
    border: 3px solid rgb(56, 56, 56);
}

.CSViewport{
    width: 100%;
    height: 100%;
    position: relative;
    color: white;
}

.CSViewport .topLeft{
    position: absolute;
    top: 10px;
    left: 10px;
}

.CSViewport .topRight {
    position: absolute;
    top: 10px;
    right: 10px;
}

.CSViewport .bottomRight {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.CSViewport span {
    display: block;
}
.CSViewport.selectedViewport {
    border: 6px solid pink;
}

.thumbnail h3 {
    margin: 10px 0;
}
.thumbnail::-webkit-scrollbar {
    display: none;
}

.thumbnail .bm {
    font-size: 12px;
    margin-bottom: 5px;
}