thead {
    color: #FCF6F5;
    vertical-align: middle;
    outline: 0;
}

.sideBox {
    background: #181a1c;
    color: #FFFFE4;
    display: flex;
    flex-direction: column;
    min-width: 250px;
    height: 100%;
    padding: 5px;
    align-items: center;
}


.searchBoxWrap{
    width: 90%;
    height: auto;
    margin-top: 20px;
}

.basicSearchBox{
    display: flex;
    flex-direction: column;
}

.searchWrap {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;
    width: 100%;
}


.inputBox {
    display: flex;
    justify-content: center;
}

.inputWrap {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    border: none;
    background-color: #101112;
    height: 45px;
    border-radius: 5px;
    width: 100%;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
}

.focused {
    border: 2px solid rgb(25, 118, 210);
    background-color: black;
}

.inputInner {
    height: 100%;
    width: 100%;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4375em;
    letter-spacing: 0.00938em;
    color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    cursor: text;
    display: inline-flex;
    align-items: center;
    position: relative;
    border-radius: 4px;
    justify-content: center;
}

.inputInner input:focus {
    background-color: black;
}

.searchLabel {
    width: 90%;
    height: 100%;
}

.searchInput {
    width: 100%;
    height: 100%;
    font-size: 16px;
    background-color: #101112;
    border: none;
    outline: none;
    color: white;
}

.dateSearchBox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
}

.searchButtonBox {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 15px;
    justify-content: space-between;
}

.searchButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    border-radius: 15px;
    color: white;
    background-color: #27292E;
    width: 100px;
    height: 28px;
    font-size: 11px;
    border: 1px solid transparent;
}

.searchButtonIcon {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: #00AFEF;
    font-size: 20px;
    margin-left: 5px;
}
/*.calender{*/
/*    width: 100%;*/
/*    max-width: 100%;*/
/*    background: transparent;*/
/*    border: none;*/
/*    color: white;*/
/*    font-family: Arial, Helvetica, sans-serif;*/
/*    line-height: 1.125em;*/
/*}*/

.mainBox {
    transition-duration: 2s;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100% - 30px);
    -webkit-box-align: stretch;
    align-items: stretch;
    box-sizing: border-box;
}

.listBox {
    transition-duration: 2s;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.totalList {
    position: relative;
    background: #161819;
    border-radius: 0 15px 15px 0;
    width: calc(100% - 40px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.listSetBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - 70px);
    margin: 0 auto;
}

.totalCases {
    color: white;
    margin-left: 40px;
    margin-top: 2px;
}

.listSetWrap {
    display: flex;
    width: 250px;
    justify-content: space-between;
}

.downloadButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    border-radius: 15px;
    color: white;
    background-color: #27292E;
    width: 100px;
    height: 28px;
    font-size: 11px;
    border: 1px solid transparent;
}

.listSetIcon {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: #00AFEF;
    font-size: 20px;
    margin-left: 5px;
}

.searchListCount {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 15px;
    color: white;
    background-color: #27292E;
    width: 140px;
    height: 28px;
    font-size: 11px;
    border: none;
    justify-content: center;
}

.countLabel {
    width: 100px;
}

.countSelect {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #27292E;
    border: none;
    color: white;
    cursor: pointer;
}

.searchListCountIcon {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: #00AFEF;
    font-size: 20px;
}

.searchListBox {
    overflow: auto;
    background: #161819;
    width: calc(100% - 70px);
    border: none;
    table-layout: fixed;
    box-shadow: none !important;
    margin: 16px auto;
    height: 700px;
}

.searchListBox::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.searchList {
    width: 100%;
    table-layout: fixed;
    box-sizing: border-box;
    display: table;
    border-collapse: separate;
    border-spacing: 0px;
}

.searchListHead {
    cursor: pointer;

}

.searchList thead tr th {
    font-size: 16px;
    font-weight: 700;
    color: rgb(206, 206, 206);
    background: #121313;
    padding: 8px 0;
    height: 60px;
    border-right: 4px solid #161819;
    border-bottom: 4px solid #161819;

}

.searchList thead tr *:last-child {
    border-right: none !important;
}

.searchListHeadCheck {
    width: 2%;
    background: #161819 !important;
    border: none !important;
}

.searchListCheckBox {
    width: 2%;
    background: #161819 !important;
    border: none !important;
}

.searchListHeadCheck input {
    background: #161819;
    border: none;
}

.searchListHeadShort {
    width: 10%;
}

.searchListHeadLong {
    width: 25%;
}

.searchListHeadShorter {
    width: 5%;
}

.searchListHeadBox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchListHeadWrap {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100px;
    flex-direction: row;
}

.searchListBody {
    background: #242424;
    text-align: center;
    height: 100%;
    cursor: pointer;
}

/*.searchList tbody tr:nth-of-type(2n-1) {*/
/*    background: #27292E;*/
/*}*/

.searchListBodyRow {
    color: inherit;
    display: table-row;
    vertical-align: middle;
    outline: 0;
}

.searchList tbody .searchListBodyRow td:nth-of-type(1) {
    background: rgb(36, 36, 36);
}

.searchList tbody .searchListBodyRow td {
    font-size: 14px;
    padding: 8px 5px;
    border-right: 3px solid #121313;
    color: white;
    word-break: break-all;
    height: 50px;
}

.searchListBodyColumnCenter {
    align-items: center;
}

.previousListBox {
    background-color: #161819;
}

.previousListDiv {
    width: 95%;
    margin: 20px auto;
    background-color: #242424;
}

.previousListTable {
    border-collapse: collapse;
    width: 100%;
}

.previousListLong {
    width: 20%;
}

.previousListNormal {
    width: 10%;
}

.previousListShort {
    width: 5%;
}

.thumbnailWrap {
    background-color: black;
    display: flex;
    justify-content: center;
    width: 270px;
    height: 170px;
}

.thumbnailBox {
    background-color: black;
    width: 10%;
    max-width: 270px;
    height: 170px;
}

.previousListCell {
    text-align: center;
    color: white;
}

.previousListTable td {
    border-bottom: 20px solid #161819;
    border-right: 2px solid #161819;
}

.previousListTable tr:last-child td {
    border-bottom: none;
}

.previousListTable td:last-child {
    border-right: none;
}

.moreCountButtonWrap {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
}

.moreCountButton {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 12px;
    cursor: pointer;
    padding: 6px 8px;
    border-radius: 15px;
    color: white;
    background-color: #27292E;
    width: 100px;
    height: 28px;
    font-size: 11px;
    border: none;
}

.moreCountButtonIcon {
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: #00AFEF;
    font-size: 20px;
    margin-left: 5px;
}


.reportBox {
    border-radius: 8px;
    background: rgb(36, 36, 36);
    margin: 0px 40px 0px 12px;
    width: 50%;
    height: 100%;
    color: white;
}

/*신규 css*/
/*.imoticon {*/
/*    content: "";*/
/*    display: inline-block;*/
/*    position: relative;*/
/*    top: 4px;*/
/*    width: 2px;*/
/*    height: 13px;*/
/*    margin-bottom: 3px;*/
/*    background: rgb(160, 0, 0);*/
/*}*/

/*.startDate {*/
/*    width: 100px;*/
/*    height: 28px;*/
/*    font-size: 12px;*/
/*    margin-left: 10px;*/
/*    margin-top: 7px;*/
/*    margin-bottom: 30px;*/
/*    line-height: 14px;*/
/*    background: rgb(23, 23, 23);*/
/*    color: rgb(255, 255, 255);*/
/*    border-radius: 25px;*/
/*    border: none;*/
/*    padding-left: 10px;*/
/*    padding-right: 10px;*/
/*}*/

/*.endDate {*/
/*    width: 100px;*/
/*    height: 28px;*/
/*    font-size: 12px;*/
/*    margin-left: 10px;*/
/*    margin-top: 7px;*/
/*    margin-bottom: 30px;*/
/*    line-height: 14px;*/
/*    background: rgb(23, 23, 23);*/
/*    color: rgb(255, 255, 255);*/
/*    border-radius: 25px;*/
/*    border: none;*/
/*    padding-left: 10px;*/
/*    padding-right: 10px;*/
/*}*/

/*.equipment {*/
/*    background-color: rgb(23, 23, 23);*/
/*    color: white;*/
/*    margin-top: 10px;*/
/*    margin-bottom: 30px;*/
/*    margin-left: 10px;*/
/*    border-radius: 36px;*/
/*    width: 40px;*/
/*    height: 28px;*/
/*    padding: 0px 10px;*/
/*    border: 0px;*/
/*    outline: none;*/
/*    font-weight: 400;*/
/*    font-size: 10px;*/
/*}*/

/*.optionNum {*/
/*    background-color: rgb(23, 23, 23);*/
/*    color: white;*/
/*    margin-top: 10px;*/
/*    margin-left: 10px;*/
/*    margin-bottom: 20px;*/
/*    border-radius: 36px;*/
/*    width: 40px;*/
/*    height: 28px;*/
/*    padding: 0px 10px;*/
/*    border: 0px;*/
/*    outline: none;*/
/*    font-weight: 400;*/
/*    font-size: 10px;*/
/*}*/

/*#imoticon {*/
/*    margin-top: 190px;*/
/*}*/

/*.resetDate {*/
/*    display: inline-flex;*/
/*    -webkit-box-align: center;*/
/*    align-items: center;*/
/*    -webkit-box-pack: center;*/
/*    justify-content: center;*/
/*    position: relative;*/
/*    box-sizing: border-box;*/
/*    -webkit-tap-highlight-color: transparent;*/
/*    outline: 0px;*/
/*    border: 0px;*/
/*    margin: 24px 0px 0px 16px;*/
/*    cursor: pointer;*/
/*    user-select: none;*/
/*    vertical-align: middle;*/
/*    appearance: none;*/
/*    text-decoration: none;*/
/*    font-family: Roboto, Helvetica, Arial, sans-serif;*/
/*    font-weight: 500;*/
/*    line-height: 1.75;*/
/*    letter-spacing: 0.02857em;*/
/*    text-transform: uppercase;*/
/*    min-width: 64px;*/
/*    padding: 6px 8px;*/
/*    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;*/
/*    border-radius: 15px;*/
/*    color: white;*/
/*    background-color: black;*/
/*    width: 100px;*/
/*    height: 28px;*/
/*    font-size: 11px;*/
/*}*/

/*.searchDate {*/
/*    display: inline-flex;*/
/*    -webkit-box-align: center;*/
/*    align-items: center;*/
/*    -webkit-box-pack: center;*/
/*    justify-content: center;*/
/*    position: relative;*/
/*    box-sizing: border-box;*/
/*    -webkit-tap-highlight-color: transparent;*/
/*    outline: 0px;*/
/*    border: 0px;*/
/*    margin: 24px 0px 0px 16px;*/
/*    cursor: pointer;*/
/*    user-select: none;*/
/*    vertical-align: middle;*/
/*    appearance: none;*/
/*    text-decoration: none;*/
/*    font-family: Roboto, Helvetica, Arial, sans-serif;*/
/*    font-weight: 500;*/
/*    line-height: 1.75;*/
/*    letter-spacing: 0.02857em;*/
/*    text-transform: uppercase;*/
/*    min-width: 64px;*/
/*    padding: 6px 8px;*/
/*    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;*/
/*    border-radius: 15px;*/
/*    color: white;*/
/*    background-color: black;*/
/*    width: 100px;*/
/*    height: 28px;*/
/*    font-size: 11px;*/
/*}*/

/*.startDate {*/
/*    width: 100px;*/
/*    height: 28px;*/
/*    font-size: 12px;*/
/*    margin-left: 10px;*/
/*    margin-top: 7px;*/
/*    margin-bottom: 30px;*/
/*    line-height: 14px;*/
/*    background: rgb(23, 23, 23);*/
/*    color: rgb(255, 255, 255);*/
/*    border-radius: 25px;*/
/*    border: none;*/
/*    padding-left: 10px;*/
/*    padding-right: 10px;*/
/*}*/

/*.endDate {*/
/*    width: 100px;*/
/*    height: 28px;*/
/*    font-size: 12px;*/
/*    margin-left: 10px;*/
/*    margin-top: 7px;*/
/*    margin-bottom: 30px;*/
/*    line-height: 14px;*/
/*    background: rgb(23, 23, 23);*/
/*    color: rgb(255, 255, 255);*/
/*    border-radius: 25px;*/
/*    border: none;*/
/*    padding-left: 10px;*/
/*    padding-right: 10px;*/
/*}*/

/*.equipment {*/
/*    background-color: rgb(23, 23, 23);*/
/*    color: white;*/
/*    margin-top: 10px;*/
/*    margin-bottom: 30px;*/
/*    margin-left: 10px;*/
/*    border-radius: 36px;*/
/*    width: calc(100% - 40px);*/
/*    height: 28px;*/
/*    padding: 0px 10px;*/
/*    border: 0px;*/
/*    outline: none;*/
/*    font-weight: 400;*/
/*    font-size: 10px;*/
/*}*/

/*.optionNum {*/
/*    background-color: rgb(23, 23, 23);*/
/*    color: white;*/
/*    margin-top: 10px;*/
/*    margin-left: 10px;*/
/*    margin-bottom: 20px;*/
/*    border-radius: 36px;*/
/*    width: calc(100% - 20px);*/
/*    height: 28px;*/
/*    padding: 0px 10px;*/
/*    border: 0px;*/
/*    outline: none;*/
/*    font-weight: 400;*/
/*    font-size: 10px;*/
/*}*/

/*.resetDate {*/
/*    display: inline-flex;*/
/*    -webkit-box-align: center;*/
/*    align-items: center;*/
/*    -webkit-box-pack: center;*/
/*    justify-content: center;*/
/*    position: relative;*/
/*    box-sizing: border-box;*/
/*    -webkit-tap-highlight-color: transparent;*/
/*    outline: 0px;*/
/*    border: 0px;*/
/*    margin: 24px 0px 0px 16px;*/
/*    cursor: pointer;*/
/*    user-select: none;*/
/*    vertical-align: middle;*/
/*    appearance: none;*/
/*    text-decoration: none;*/
/*    font-family: Roboto, Helvetica, Arial, sans-serif;*/
/*    font-weight: 500;*/
/*    line-height: 1.75;*/
/*    letter-spacing: 0.02857em;*/
/*    text-transform: uppercase;*/
/*    min-width: 64px;*/
/*    padding: 6px 8px;*/
/*    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;*/
/*    border-radius: 15px;*/
/*    color: white;*/
/*    background-color: black;*/
/*    width: 100px;*/
/*    height: 28px;*/
/*    font-size: 11px;*/
/*}*/

/*.searchDetail {*/
/*    display: inline-flex;*/
/*    -webkit-box-align: center;*/
/*    align-items: center;*/
/*    -webkit-box-pack: center;*/
/*    justify-content: center;*/
/*    position: relative;*/
/*    box-sizing: border-box;*/
/*    -webkit-tap-highlight-color: transparent;*/
/*    outline: 0px;*/
/*    border: 0px;*/
/*    margin: 24px 0px 0px 16px;*/
/*    cursor: pointer;*/
/*    user-select: none;*/
/*    vertical-align: middle;*/
/*    appearance: none;*/
/*    text-decoration: none;*/
/*    font-family: Roboto, Helvetica, Arial, sans-serif;*/
/*    font-weight: 500;*/
/*    line-height: 1.75;*/
/*    letter-spacing: 0.02857em;*/
/*    text-transform: uppercase;*/
/*    min-width: 64px;*/
/*    padding: 6px 8px;*/
/*    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;*/
/*    border-radius: 15px;*/
/*    color: white;*/
/*    background-color: black;*/
/*    width: 100px;*/
/*    height: 28px;*/
/*    font-size: 11px;*/
/*}*/