thead {
    color: inherit;
    vertical-align: middle;
    outline: 0;
}

.sideBox {
    background: rgb(36, 36, 36);
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    min-width: 250px;
    height: 100%;
    padding: 5px;
    margin-left: 12px;
}

.displayNone {
    display: none;
}

/*.calender{*/
/*    width: 100%;*/
/*    max-width: 100%;*/
/*    background: transparent;*/
/*    border: none;*/
/*    color: white;*/
/*    font-family: Arial, Helvetica, sans-serif;*/
/*    line-height: 1.125em;*/
/*}*/

.mainBox {
    transition-duration: 2s;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100% - 30px);
    -webkit-box-align: stretch;
    align-items: stretch;
    box-sizing: border-box;
}

.listBox {
    transition-duration: 2s;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 6px;
    width: 100%;
    height: auto;
}

.totalList {
    position: relative;
    background: rgb(36, 36, 36);
    border-radius: 10px;
    width: calc(100% - 40px);
    height: 60%;
    display: flex;
    flex-direction: column;
}

.header {
    color: rgb(255, 255, 255);
    margin-top: 15px;
    margin-left: 35px;
}

.searchWrap {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    min-width: 0px;
    padding: 0px;
    margin-bottom: 10px;
    border: 0px;
    vertical-align: top;
}

.searchInner {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;
}

.inputBox::before {
    display: inline-block;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 5px;
    content: "";
    width: 5px;
    height: 40px;
    background: rgb(98, 18, 18);
}

.inputBox:nth-of-type(1)::before {
    margin-left: 40px;
}

.inputWrap {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    min-width: 0px;
    padding: 0px;
    border: 0px;
    vertical-align: top;
    background-color: rgb(55, 55, 55);
    height: 36px;
    border-radius: 50px;
    width: 280px;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
}

.focused {
    border: 2px solid rgb(25, 118, 210);
    background-color: black;
}

.inputInner {
    height: 100%;
    width: 100%;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4375em;
    letter-spacing: 0.00938em;
    color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    cursor: text;
    display: inline-flex;
    align-items: center;
    position: relative;
    border-radius: 4px;
    justify-content: center;
}

.inputInner input:focus {
    background-color: black;
}

.searchLabel {
    width: 90%;
    height: 100%;
}

.searchInput {
    width: 100%;
    height: 100%;
    font-size: 16px;
    background-color: rgb(55, 55, 55);
    border: none;
    outline: none;
    color: white;
}

.searchIcon {
    width: 3rem;
    height: 3rem;
    margin-top: 8px;
    line-height: 3rem;
    font-size: 14px;
    white-space: nowrap;
    background: rgb(55, 55, 55);
    color: white;
    border-radius: 50%;
    margin-left: 10px;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
}

.iconFirst {
    margin-left: 30px;
}
.resetButton{
    background-color: black;
}

.searchButton {
    background: rgb(98, 18, 18);
}

.listSetBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.totalCases {
    color: white;
    margin-left: 40px;
    margin-top: 2px;
}

.listSetWrap {
    margin-right: 40px;
}

.deleteButton {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    min-width: 64px;
    padding: 6px 8px;
    border-radius: 15px;
    color: white;
    background-color: rgb(0, 0, 0);
    width: 100px;
    height: 28px;
    font-size: 11px;
    border: 1px solid transparent;
}

.downloadButton {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    min-width: 64px;
    padding: 6px 8px;
    border-radius: 15px;
    color: white;
    background-color: black;
    width: 100px;
    height: 28px;
    font-size: 11px;
    border: 1px solid transparent;
}

.listSetIcon {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: rgb(160, 0, 0);
    font-size: 20px;
    margin-left: 5px;
}

.searchListCount {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.4375em;
    letter-spacing: 0.00938em;
    box-sizing: border-box;
    cursor: text;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    border-radius: 15px;
    color: white;
    background-color: black;
    width: 100px;
    height: 28px;
    font-size: 11px;
    border: 1px solid transparent;
    justify-content: center;
}

.countLabel {
    width: 60px;
}

.countSelect {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
    border: none;
    outline: none;
    color: white;
}

.searchListCountIcon {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: rgb(160, 0, 0);
    font-size: 20px;
}

.searchListBox {
    overflow: auto;
    background: rgb(36, 36, 36);
    width: calc(100% - 70px);
    border: 1px solid rgb(36, 36, 36);
    box-sizing: border-box;
    table-layout: fixed;
    box-shadow: none !important;
    margin: 16px 32px;
    height: 430px;
}

.searchListBox::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.searchList {
    width: 100%;
    table-layout: fixed;
    box-sizing: border-box;
    display: table;
    border-collapse: separate;
    border-spacing: 0px;
}

.searchListHead {
    cursor: pointer;
}


.searchList thead tr th:nth-of-type(1) {
    background: rgb(36, 36, 36);
}

.searchList thead tr th {
    font-size: 14px;
    color: rgb(206, 206, 206);
    background: rgb(9, 9, 9);
    padding: 8px 0px;
    border: 1px solid rgb(36, 36, 36);
    box-sizing: border-box;
}

.searchListHeadCheck {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.5rem;
    letter-spacing: 0.01071em;
    display: table-cell;
    vertical-align: inherit;
    border-bottom: 1px solid rgb(224, 224, 224);
    text-align: center;
    padding: 16px;
    color: rgba(0, 0, 0, 0.87);
    position: sticky;
    top: 0px;
    z-index: 2;
    background-color: rgb(255, 255, 255);
    width: 2%;
}

.searchListHeadShort {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.5rem;
    letter-spacing: 0.01071em;
    display: table-cell;
    vertical-align: inherit;
    border-bottom: 1px solid rgb(224, 224, 224);
    text-align: center;
    padding: 16px;
    color: rgba(0, 0, 0, 0.87);
    position: sticky;
    top: 0px;
    z-index: 2;
    background-color: rgb(255, 255, 255);
    width: 10%;
}

.searchListHeadLong {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.5rem;
    letter-spacing: 0.01071em;
    display: table-cell;
    vertical-align: inherit;
    border-bottom: 1px solid rgb(224, 224, 224);
    text-align: center;
    padding: 16px;
    color: rgba(0, 0, 0, 0.87);
    position: sticky;
    top: 0px;
    z-index: 2;
    background-color: rgb(255, 255, 255);
    width: 25%;
}

.searchListHeadShorter {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.5rem;
    letter-spacing: 0.01071em;
    display: table-cell;
    vertical-align: inherit;
    border-bottom: 1px solid rgb(224, 224, 224);
    text-align: center;
    padding: 16px;
    color: rgba(0, 0, 0, 0.87);
    position: sticky;
    top: 0px;
    z-index: 2;
    background-color: rgb(255, 255, 255);
    width: 5%;
}

.searchListBody {
    background: rgb(36, 36, 36);
    text-align: center;
    height: 100%;
    cursor: pointer;
}

.searchList tbody tr:nth-of-type(2n-1) {
    background: rgb(57, 57, 57);
}

.searchListBodyRow {
    color: inherit;
    display: table-row;
    vertical-align: middle;
    outline: 0px;
}

.searchList tbody tr td:nth-of-type(1) {
    background: rgb(36, 36, 36);
}

.searchList tbody tr td {
    font-size: 14px;
    padding: 8px 5px;
    border: 1px solid rgb(36, 36, 36);
    color: rgb(206, 206, 206);
    box-sizing: border-box;
    word-break: break-all;
}

.searchListBodyColumnCenter {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    display: table-cell;
    vertical-align: inherit;
    border-bottom: 1px solid rgb(224, 224, 224);
    text-align: center;
    padding: 16px;
    color: rgba(0, 0, 0, 0.87);
}

.searchListBodyColumnLeft {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    vertical-align: inherit;
    border-bottom: 1px solid rgb(224, 224, 224);
    text-align: left;
    padding: 16px;
    color: rgba(0, 0, 0, 0.87);
}

.moreCountButtonWrap {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
}

.moreCountButton {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    outline: 0px;
    margin: 0px 12px 0px 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    min-width: 64px;
    padding: 6px 8px;
    border-radius: 15px;
    color: white;
    background-color: rgb(0, 0, 0);
    width: 100px;
    height: 28px;
    font-size: 11px;
    border: 1px solid transparent;
}

.moreCountButtonIcon {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    color: rgb(160, 0, 0);
    font-size: 20px;
    margin-left: 5px;
}

.bottomList {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    width: 100%;
    margin: 12px 0px 0px;
    height: 45%;
}

.previousBox {
    display: block;
    border-radius: 10px;
    background: rgb(36, 36, 36);
    width: 50%;
    height: 100%;
    color: white;
}

.patientStatusBox {
    box-sizing: border-box;
    display: flex;
    flex-flow: wrap;
    width: 100%;
    margin-top: 14px;
    margin-left: 35px;
}

.patientStatusWrap {
    flex-basis: 50%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 50%;
}

.patientStatusWrap::before {
    display: inline-block;
    position: relative;
    top: 4px;
    content: " ";
    width: 3px;
    height: 17px;
    margin-right: 5px;
    background: rgb(98, 18, 18);
}

.previousListBox {
    margin-top: 14px;
    margin-left: 32px;
    width: calc(100% - 70px);
    height: auto;
    max-height: calc(100% - 110px);
    overflow: auto;
    color: rgba(0, 0, 0, 0.87);
}

.previousList {
    table-layout: fixed;
    word-break: break-all;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;

}

.previousList th {
    text-align: center;
    background: rgb(9, 9, 9);
    padding: 8px 0px;
    border: 1px solid rgb(36, 36, 36);
    box-sizing: border-box;
    font-size: 14px;
    color: rgb(206, 206, 206);

}

.previousListHead {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.5rem;
    letter-spacing: 0.01071em;
    vertical-align: inherit;
    border-bottom: 1px solid rgb(224, 224, 224);
    text-align: left;
    padding: 16px;
    color: rgba(0, 0, 0, 0.87);
    position: sticky;
    top: 0px;
    z-index: 2;
    background-color: rgb(255, 255, 255);
}

.previousListBodyRow td {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 38px;
}

.preNormal {
    width: 13%;
}

.preLonger {
    width: 25%;
}

.preShort {
    width: 11%;
}

.preLong {
    width: 18%;
}

.previousListBody {
    background: rgb(36, 36, 36);
    text-align: center;
    height: 100%;
    cursor: pointer;
}

.previousList tbody tr:nth-of-type(2n-1) {
    background: rgb(57, 57, 57);
}

.previousList tbody tr td {
    font-size: 14px;
    padding: 8px 5px;
    border: 1px solid rgb(36, 36, 36);
    color: rgb(206, 206, 206);
    box-sizing: border-box;
    word-break: break-all;
}

.previousListBodyColumnCenter {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    display: table-cell;
    vertical-align: inherit;
    border-bottom: 1px solid rgb(224, 224, 224);
    text-align: center;
    padding: 16px;
    color: rgba(0, 0, 0, 0.87);
}

.previousListBodyColumnLeft {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    vertical-align: inherit;
    border-bottom: 1px solid rgb(224, 224, 224);
    text-align: left;
    padding: 16px;
    color: rgba(0, 0, 0, 0.87);
}

.reportBox {
    border-radius: 8px;
    background: rgb(36, 36, 36);
    margin: 0px 40px 0px 12px;
    width: 50%;
    height: 100%;
    color: white;
}